<div class="px-4 py-5 text-center" style="height: 100vh; {% if hero_image %}background-image: url('{{ hero_image.url }}');{% endif %}">
    <h1 class="display-5 fw-bold">{{ page.title|raw }}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            {{ content|raw }}
        </p>
    </div>
</div>