<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead" style="padding-top: 150px; background-image: url('{% if hero_image %}{{ hero_image.url }}{% endif %}')">
    <div class="container" style="height: 50vh;">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <h1 class="text-uppercase">{{ page.title|raw }}</h1>
{#                {{ content|raw }}#}
            </div>
        </div>
    </div>
</header>