{% extends 'partials/base.html.twig' %}
{% set collection = page.collection() %}
{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}

{% block hero %}
    {% include 'partials/hero.html.twig' with {hero_image: blog_image} %}
{% endblock %}

{% block content %}

    <div class="container my-5">

        <ul id="travel-overview-gallery-list">
            {% for child in pages.children.visible %}

                {% if (child.home() == false) and (child.slug != 'over-ons') %}
                    {% set image = child.media.images|first %}
                    <li class="one-fifth animate-box" data-animate-effect="fadeIn" style="background-image: url({{ image.cropZoom(800,400).url|default('https://via.placeholder.com/800x400')  }});">
                        <a href="{{ child.url }}">
                            <div class="travel-overview-summary">
                                <span>{{ count(child.children) }} reizen</span>
                                <h2>{{ child.title }}</h2>
                            </div>
                        </a>
                    </li>
                {% endif %}

            {% endfor %}
        </ul>
        <div class="clear-float"></div>
    </div>

{% endblock %}
